body{
    background: #B2D7FF;
}
p{
    color: azure;
}
.menu {
    display: inline-block;
    text-align: center;
    background-color:#002366;
    margin: 0px;
    display: flex;
}
.botao {
    background-color: #0047AB;
    color: white;
    padding: 10px 15px; /* Tamanho do botão  */
    text-align: center; /* deixar o texto no centro  */
    text-decoration: none; /* isso é para tirar a linha no link que aparace e outro estilos  */
    display: inline-block; /* Permite que posso ficar um do lado do outro */
    font-size: 16px; /* Tamanho do texto  */
    margin: 10px 2px; /* separação entre os botão  */
    cursor: pointer; /* Deixa no curso no modo click  */
    border-radius: 10px; /* Deixa o botão com bordas arredondadas  */
    font-family: 'Courier New', Courier, monospace;
  }
  .teste{
    display: flex;
    justify-content: center;
  }
  .teste2{
    display: flex;
    background-color: #86add6;
  }
  .lis{
    background-color: #86add6;
  }
  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  h2{
    font-family: 'Courier New', Courier, monospace;
  }
  p{
    color: black;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    
  }
.perfil{
  width: 45px;
  height: 45px;
  margin-top: 7px;
  margin-left: 5px;
}
.nomeperfil{
  color: white;
  font-size: 16px;
  margin-left: 730px;
  margin-top: 20px;
}
.icon{
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}
.rodape{
  font-size: 12px;
  text-align: center;
  background-color: #86add6;
}
.ancoras{
  background-color:  #a5c8ec;
  color: rgb(0, 0, 0);
  padding: 10px 15px; /* Tamanho do botão  */
  text-decoration: none; /* isso é para tirar a linha no link que aparace e outro estilos  */
  display: inline-block; /* Permite que posso ficar um do lado do outro */
  font-size: 14px; /* Tamanho do texto  */
  margin: 10px 2px; /* separação entre os botão  */
  cursor: pointer; /* Deixa no curso no modo click  */
  border-radius: 10px; /* Deixa o botão com bordas arredondadas  */
  font-family: 'Courier New', Courier, monospace;
}
.centro{
  text-align: center;
}
.texto{
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}